{% extends 'home/base.html' %}
{% block content %}
<div class="container py-4">
    <h1 class="display-4 text-center pb-4 border-bottom">Aktivitas Ku</h1>
    <Form method="POST" class="row my-5">
        {% csrf_token %}
        <div class="col-7 ml-auto">
            {{ formA.kegiatan }}
        </div>
        <button type="submit" class="btn btn-dark col-2 mr-auto">Tambah Kegiatan</button>
    </Form>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for kegiatan in listKegiatan %}
        <div class="card bg-light mt-5" style="width: 18rem;">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-10 mb-2">{{ kegiatan }}</h5>
                    <a href="{% url 'home:kegiatanDelete' kegiatan.id %}" class="col-2">
                        <button type="button" class="close mb-2">&times;</button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Anggota:</h6>
                <p></p>
                <ul>

                    {% for anggota in listAnggota %}
                    {% if anggota.aktivitas.id == kegiatan.id %}
                    <li class="row">
                        <h5 class="col-10">{{ anggota }}</h5>
                        <a href="{% url 'home:anggotaDelete' anggota.id %}" class="col-2">
                            <button type="button" class="close">&times;</button>
                        </a>    
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <form method="POST">
                    {% csrf_token %}
                    {{ formB.anggota }}
                    <input name="aktivitas" type="text" value="{{ kegiatan.id }}" style="display: none;">
                    <button type="submit" class="btn btn-dark col-6 mt-2">Gabung</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
